{{ define "culture" }}

{{ template "header" }}

<body>
    
    <section class="section" id="link">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitile">Раздел 3</h3>
                <h2 class="section__title">Культура и искусство</h2>
            </div>
        </div>
    </section>
    

    <section class="section">
        <div class="container">
            <div class="culture">
                <!-- <strong class="cul__title">Культурные объекты нашего края</strong> -->
                <div class="culture__item">
                    <div class="culture__title">Церковь Владимирской иконы Божьей Матери</div>
                    <div class="culture__img"><img src="../source/img/culture/1.jpg" alt=""></div>
                    <div class="culture__text"><p>
                        Храм построен благочестивыми внучками основателя поселка Ильинка — лейб-гвардии капитана Ильи Ильича Дебальцева — Марией и Марфой. 
                        За участие в подавлении восстания Емельяна Пугачева (1773—1775 гг.) капитан И. И. Дебальцев получил от Екатерины II в. подарок земли в 
                        Диком поле Донбасса, где им был основан поселок, названный в честь основателя. Через много лет его сын Андриан Ильич Дебальцев, умирая, 
                        завещал земли и усадьбу своим дочерям Марии и Марфе. Нестяжательные сёстры продали имение, а часть вырученных средств пожертвовали на 
                        реставрацию церкви святого Ильи в Ильинке и на строительство в поселке нового типового храма в честь Владимирской иконы Божией Матери. 
                        Из справочника Бахмутского уезда известно, что службы в Ильинском храме начали совершать в 1874 году. Рядом с храмом находится могила 
                        основателя Ильинки помещика И. И. Дебальцева.
                    </p></div>
                </div>
                <div class="culture__item">
                    <div class="culture__title">Енакиевский исторический музей</div>
                    <div class="culture__img"><img src="../source/img/culture/2.jpg" alt=""></div>
                    <div class="culture__text"><p>
                        Музей истории города Енакиево был основан при Енакиевском филиале Донецкого политехнического института в 1967 г. 
                        Когда в 1973 году филиал политехнического института был закрыт, музей прекратил свою работу.
                        Второй раз он начал свою работу в 1977 году в связи с активной деятельностью учителей истории Григория Петровича Косенко и 
                        Анатолия Владимировича Клевцова, историка и археолога Виктора Федоровича Клименко. Музей получил звание народного. 
                        В 1979 году музей стал государственным и отделом Донецкого областного краеведческого музея. 
                        В 1992 г. музей получил статус самостоятельного городского музея истории г. Енакиево и стал коммунальной собственностью города. 
                        Капитальный ремонт осуществлен в 1992-95 гг и 2007-2008 гг. <br>
                        <p>
                            Экспозиция музея размещена в пяти залах и насчитывает более пятнадцати тысяч экспонатов. Музей имеет уникальную археологическую коллекцию. 
                            Старейшей вещью считают кремнёвый резец времен палеолита, найденный в поселке Розовка возле Енакиево. 
                            Интересна коллекция кремнёвых орудий эпохи мезолита, а также орудий труда, сосудов, украшений. 
                            Представлены также материалы скифского и сарматского периодов. В этнографическую коллекцию входят полотенца, рубашки, предметы быта.
                            Открыты залы «Археология» и «История родного края со времен заселения до 1939 года» , «Енакиево в период Великой Отечественной войны» , 
                            «Жизнь и деятельность Г. Т. Берегового» . Представлены новые материалы об известном металлурге, вице-президенте АН СССР в 40-50 е годы академике 
                            Иване Павловиче Бардине, который с 1917 г. по 1923 г. работал на Енакиевском металлургическом заводе.
                            Зал космонавтики, посвященный дважды Герою Советского Союза, летчику-космонавту СССР, генерал-лейтенанту авиации, почетному гражданину города 
                            Георгию Тимофеевичу Берегово - один из самых интересных залов музея. Здесь представлено более 500 экспонатов.
                        </p>
                    </p></div>
                </div>
            </div>
        </div>
    </section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../source/js/file.js"></script>

{{ template "footer" }}

{{ end }}