{{ define "history" }}

{{ template "header" }}

<body>

    <section class="section" id="link">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitile">Раздел 1</h3>
                <h2 class="section__title">История нашего края</h2>
                <!-- <div class="section__text">Без понимания прошлого нет и будущего!</div> -->
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <p class="history__text">Воз­ник как шах­тёр­ский по­сё­лок в 1883 в свя­зи с ос­вое­ни­ем ка­мен­но-уголь­ных ме­сто­ро­ж­де­ний Дон­бас­са. 
            В 1917 по­лу­чил ста­тус го­ро­да. Районный центр Юзов­ско­го округа (в 1924–30 – Ста­лин­ский округ) До­нец­кой губ. УССР (1923–25), 
            Ста­лин­ско­го ок­ру­га УССР (1925–30), УССР (1930–32), Донецкой обл. УССР (1932–59; в 1938–61 – Сталинская обл.). 
            В 1932–2020 город областного подчинения Донецкой области УССР (с 1991 Украины). В 1928–35 на­зы­вал­ся Ры­ко­во, в 1936–43 – Орд­жо­ни­кид­зе. 
            В Великую Отечественную войну 31.10.1941 оккупирован герм. войсками. Освобождён 3.9.1943 в ходе Донбасской наступательной операции.</p>
        </div>
    </section>

    <div class="section slider--gray"> 
        <div class="container"> 
            <div class="review">
                    <div>
                        <div class="reviews__item">
                            <img class="review__photo" src="../source/img/history/review.jpg" alt="">
                            <div class="reviews__text">“Первая задача истории — воздержаться от лжи, вторая — не утаивать правды, 
                                третья — не давать никакого повода заподозрить себя в пристрастии или в предвзятой враждебности.”</div>
                            <div class="review__author">© Марк Ту́ллий Цицеро́н</div>
                        </div>
                    </div>    
            </div>  
        </div>
    </div>

    <section class="section section-table">
        <div class="container">
            <h2>Основные исторические события на территории нашего города!</h2>
            <table class="table">
                <tr class="table__tr">
                    <th class="table__th">Год</th>
                    <th>Событие</th>
                </tr>
                <tr>
                    <td class="table__date">5 апреля 1783 год</td>
                    <td class="table__info"><strong>Основание.</strong> 
                        Постоянные поселения на территории современного города основаны в 1783 году: сёла Раздольское (ныне посёлок Раздоловка в черте города) 
                        и Софиевка (Карло-Марксово). В 1795 году в них проживало 213 и 256 человек соответственно.
                        В 1858 году был открыт Софиевский каменноугольный рудник (в 1864 году на нём добыто 225 тыс. пудов угля). 
                        Тогда же поблизости от сёл началось строительство казённого опытного чугуноплавильного Петровского завода, названного в честь Петра I. 
                        На нём впервые испытывали выплавку чугуна из местных руд на коксующемся угле. В 1866 году на заводе впервые в России был получен такой чугун, 
                        но предприятие закрыли.
                    </td>
                </tr>
               
                <tr>
                    <td class="table__date">5 апреля 1897 год</td>
                    <td class="table__info"><strong>Развитие промышленности</strong> В 1895 году инженерами Ф. Е. Енакиевым и Б. 
                        А. Яловецким и несколькими бельгийскими предпринимателями учреждено Русско-бельгийское металлургическое общество, 
                        которое к 1897 году построило вокруг села Фёдоровка новый Петровский чугуноделательный завод. В конце XIX века на нём работали 2 665 человек. 
                        Около завода открылись каменноугольные рудники. Вокруг предприятий сложились посёлки, которые в 1898 году объединены в один, названный по имени основателя 
                        Русско-бельгийского общества Енакиево (название происходит от имени инженера-путейца Ф. Е. Енакиева). Такое же название получила и местная железнодорожная станция. 
                        Писатель А. И. Куприн, состоявший в 1896 году на службе на заводе, отобразил жизнь рабочих посёлка в повести «Молох».
                        До Первой мировой войны в Енакиеве построены коксохимический, кирпичный, пивоваренный заводы, маслобойня. Петровский завод стал одним из 
                        крупнейших металлургических заводов (3 место) юга России. В 1913 году он дал 349,2 тыс. тонн чугуна, 316,4 тыс. тонн стали, 280,1 тыс. тонн проката. 
                        К этому времени в посёлке были 2 гостиницы, столовая, 2 пекарни, 4 магазина, больница, коммерческое училище, 5 школ, кинематограф, клуб служащих металлургического 
                        завода, библиотека.
                    </td>
                </tr>

                <tr>
                    <td class="table__date">3 июня 1917 год</td>
                    <td class="table__info"><strong>Постановлением Временного правительства</strong> от 3 июня 1917 года Енакиево получило статус города. 
                    </td>
                </tr>
                <tr>
                    <td class="table__date">3 сентября 1943 год</td>
                    <td class="table__info"><strong>Енакиево был освобождён</strong> от немецко-фашистских захватчиков войсками Южного фронта в ходе Донбасской операции.
                    </td>
                </tr>
               
                <tr>
                    <td class="table__date">5 апреля 1812 год</td>
                    <td class="table__info"><strong>Отечественная война 1812 года</strong> между Российской империей и наполеоновской 
                        Францией длилась ровно 6 месяцев и два дня: она началась 24 июня, а завершилась 26 декабря 
                        (12 июня и 14 декабря соответственно по старому стилю).
                        Во время первого этапа войны — с июня по сентябрь 1812 года — русские войска отступали от границ России к Москве. 
                        Отступление завершилось 7 сентября Бородинским сражением, а начиная с октября Наполеоновская армия, 
                        ослабленная голодом и морозами, стала сдавать позиции — и стремительно отступала под натиском русских сил.
                    </td>
                </tr>

                <tr>
                    <td class="table__date">5 апреля 1812 год</td>
                    <td class="table__info"><strong>Отечественная война 1812 года</strong> между Российской империей и наполеоновской 
                        Францией длилась ровно 6 месяцев и два дня: она началась 24 июня, а завершилась 26 декабря 
                        (12 июня и 14 декабря соответственно по старому стилю).
                        Во время первого этапа войны — с июня по сентябрь 1812 года — русские войска отступали от границ России к Москве. 
                        Отступление завершилось 7 сентября Бородинским сражением, а начиная с октября Наполеоновская армия, 
                        ослабленная голодом и морозами, стала сдавать позиции — и стремительно отступала под натиском русских сил.
                    </td>
                </tr>
                <tr>
                    <td class="table__date">5 апреля 1812 год</td>
                    <td class="table__info"><strong>Отечественная война 1812 года</strong> между Российской империей и наполеоновской 
                        Францией длилась ровно 6 месяцев и два дня: она началась 24 июня, а завершилась 26 декабря 
                        (12 июня и 14 декабря соответственно по старому стилю).
                        Во время первого этапа войны — с июня по сентябрь 1812 года — русские войска отступали от границ России к Москве. 
                        Отступление завершилось 7 сентября Бородинским сражением, а начиная с октября Наполеоновская армия, 
                        ослабленная голодом и морозами, стала сдавать позиции — и стремительно отступала под натиском русских сил.
                    </td>
                </tr>
               
                <tr>
                    <td class="table__date">5 апреля 1812 год</td>
                    <td class="table__info"><strong>Отечественная война 1812 года</strong> между Российской империей и наполеоновской 
                        Францией длилась ровно 6 месяцев и два дня: она началась 24 июня, а завершилась 26 декабря 
                        (12 июня и 14 декабря соответственно по старому стилю).
                        Во время первого этапа войны — с июня по сентябрь 1812 года — русские войска отступали от границ России к Москве. 
                        Отступление завершилось 7 сентября Бородинским сражением, а начиная с октября Наполеоновская армия, 
                        ослабленная голодом и морозами, стала сдавать позиции — и стремительно отступала под натиском русских сил.
                    </td>
                </tr>

                <tr>
                    <td class="table__date">5 апреля 1812 год</td>
                    <td class="table__info"><strong>Отечественная война 1812 года</strong> между Российской империей и наполеоновской 
                        Францией длилась ровно 6 месяцев и два дня: она началась 24 июня, а завершилась 26 декабря 
                        (12 июня и 14 декабря соответственно по старому стилю).
                        Во время первого этапа войны — с июня по сентябрь 1812 года — русские войска отступали от границ России к Москве. 
                        Отступление завершилось 7 сентября Бородинским сражением, а начиная с октября Наполеоновская армия, 
                        ослабленная голодом и морозами, стала сдавать позиции — и стремительно отступала под натиском русских сил.
                    </td>
                </tr>

                <tr>
                    <td class="table__date">5 апреля 1812 год</td>
                    <td class="table__info"><strong>Отечественная война 1812 года</strong> между Российской империей и наполеоновской 
                        Францией длилась ровно 6 месяцев и два дня: она началась 24 июня, а завершилась 26 декабря 
                        (12 июня и 14 декабря соответственно по старому стилю).
                        Во время первого этапа войны — с июня по сентябрь 1812 года — русские войска отступали от границ России к Москве. 
                        Отступление завершилось 7 сентября Бородинским сражением, а начиная с октября Наполеоновская армия, 
                        ослабленная голодом и морозами, стала сдавать позиции — и стремительно отступала под натиском русских сил.
                    </td>
                </tr>

            </table>
        </div>
    </section>


  <div class="section slider--gray"> 
        <div class="container"> 
            <div class="review">
                    <div>
                        <div class="reviews__item">
                            <img class="review__photo" src="../source/img/history/review2.jpg" alt="">
                            <div class="reviews__text">“История — это политика, которую уже нельзя исправить. Политика — это история, которую еще можно исправить.”</div>
                            <div class="review__author">© Зигмунд Графф</div>
                        </div>
                    </div>    
            </div>  
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../source/js/file.js"></script>

{{ template "footer" }}

{{ end }}