{{ define "infrastructure" }}

{{ template "header" }}

<body>
    
    <section class="section" id="link">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitile">Раздел 2</h3>
                <h2 class="section__title">Инфраструктура нашего края</h2>
            </div>
        </div>
    </section>
   <div style="text-align: center; margin-top: -70px;"><h2>Карта нашего города</h2> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25286.74867796216!2d38.188812754153666!3d48.22699063673932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e065a28ea99b15%3A0x524363fd74eb6c!2z0JXQvdCw0LrQuNC10LLQviwg0JTQvtC90LXRhtC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LAsIDg2NDAy!5e0!3m2!1sru!2s!4v1662331625695!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>

    <section class="section">
        <div class="container">
            <div class="adm__div">
                <div class="adm__div-title">Административное деление</div>
                <div class="adm__div-suptext">Подчинён город Юнокоммунаровск, 8 посёлков городского типа, 8 сёл и 11 посёлков. 
                    Подробнее — <a href="https://ru.wikipedia.org/wiki/%D0%95%D0%BD%D0%B0%D0%BA%D0%B8%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9_%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9_%D1%81%D0%BE%D0%B2%D0%B5%D1%82">
                    Енакиевский городской совет.</a></div>
                <div class="adm__div-suptitle">Районы и части города</div>
                <div class="adm__div-list">
                    <ul>
                        <li>Юнокоммунаровск (Юнком),</li>
                        <li>Блочок (Площадь Бурмистрова, бывшая «Площадь Дружбы»)</li>
                        <li>Первомайка,</li>
                        <li>Раздоловка,</li>
                        <li>Красный городок,</li>
                        <li>Зарудня,</li>
                        <li>посёлок ДСК</li>
                        <li>посёлок 1905 года,</li>
                        <li>посёлок 40-летия ВЛКСМ,</li>
                        <li>Енакиевский посёлок,</li>
                        <li>Ватутинский посёлок,</li>
                        <li>Криничка,</li>
                        <li>Гапуровка,</li>
                        <li>посёлок шахты «Красный Октябрь»,</li>
                        <li>посёлок шахты «Красный Профинтерн»,</li>
                        <li>посёлок Северный,</li>
                        <li>посёлок Стандартный,</li>
                        <li>посёлок Нехотеевка,</li>
                        <li>посёлок Лесной</li>
                        <li>посёлок Постышева</li>
                        <li>посёлок Карло-Марксово</li>
                        <li>посёлок Казачий</li>
                        <li>посёлок Фильтровальная</li>
                    </ul>
                    <div class="adm__div-suptitle">Микрорайоны:</div>
                    <ul>
                        <li>Парковый</li>
                        <li>им. Ватутина</li>
                        <li>Горизонт</li>
                        <li>№ 15, Горняк</li>
                        <li>№ 16, им. Брайляна</li>
                        <li>Городской</li>
                    </ul>
                </div>
            </div>
        </div>
   </section>

<section class="section">
    <div class="container">
        <div class="adm__div">
            <div class="adm__div-title">Транспорт</div>
            <div class="adm__div-suptitle">Трамвай</div>
            <div class="adm__div-list">
                <ul>
                    <li>1 Красный городок — посёлок Ватутина (101 квартал, «Черёмушки»)</li>
                    <li>3 посёлок Ватутина — Шахта «Красный Октябрь»</li>
                    <li>4 Центр — м-район «16» (ул. Брайляна, «Фильтровальная»)</li>
                </ul>
                <div class="adm__div-suptitle">Автобусный транспорт</div>
                <ul>
                    <li>б/н АС Енакиево — Донецк (АВ «Южный»), (через Ждановка, Харцызск, Макеевка)</li>
                    <li>1, 1А ЕМЗ — пос. им. Ватутина (через пос. Енакиевский, кольцевой)</li>
                    <li>2 ЕМЗ — пос. им. Ватутина (по просп. Металлургов, просп. Берегового)</li>
                    <li>3 ЕМЗ — пос. им. 40-летия ВЛКСМ (через пос. Раздоловка)</li>
                    <li>4 пос. Раздоловка (от Водоканала) — пос. Волынцево (через ГБ № 1)</li>
                    <li>5 ЕМЗ — пос. 1905 года</li>
                    <li>6 АС Енакиево — АС Ждановка (маршрут закрыт)</li>
                    <li>8 ЕМЗ — пос. ДСК</li>
                    <li>9 АС Енакиево — пос. Стандартный</li>
                    <li>10 АС Енакиево — мкр «Горняк»</li>
                    <li>10А АС Енакиево — мкр «Горняк» (через ГБ № 1)</li>
                    <li>11 пос. им. Ватутина — мкр «Горняк» (через пос. Енакиевский, пос. Красный Профинтерн)</li>
                    <li>12 пос. им. Ватутина — Юнокоммунаровск (через пос. Енакиевский, пос. Цемзавода) (маршрут закрыт)</li>
                    <li>15 ЕМЗ — пос. Красный городок</li>
                    <li>16 АС Енакиево — пос. Ватутина (по просп. Металлургов, просп. Берегового, кольцевой по мкр «Парковый» и «Горизонт») (маршрут закрыт)</li>
                    <li>20 пос. им. Ватутина — пос. Красный городок (через ГБ № 1)</li>
                    <li>21 АС Енакиево — Углегорск</li>
                    <li>22 АС Енакиево — АС Дебальцево</li>
                    <li>23 АС Енакиево — пос. Булавинка</li>
                    <li>24 АС Енакиево — пос. Ольховатка</li>
                    <li>25 АС Енакиево — Юнокоммунаровск</li>
                    <li>26 АС Енакиево — АС Кировское (через пл. им. Бурмистрова, Юнокоммунаровск)</li>
                    <li>27 АС Енакиево — АС Макеевка (через Ждановка, Харцызск)</li>
                    <li>28 АС Енакиево — пос. Корсунь</li>
                    <li>29 Енакиево (от ЕМЗ) — Юнокоммунаровск</li>
                    <li>30 АС Енакиево — пос. Карла Маркса</li>
                    <li>34 АС Енакиево — пос. Карла Маркса (через пос. им. Ватутина, пос. Софье-Кондратьевка)</li>
                    <li>36 Юнокоммунаровск — пос. Дружный (идёт по маршруту 29, с заходом на пос. Дружный)</li>
                </ul>
            </div>
        </div>
    </div>
</section>


    <section class="section">
        <div class="container">
            <div class="infrastr__item">
                <div class="infrastr__title">
                    Архитектура. Центры науки и культуры
                </div>
                <div class="infrastr__text">
                    <strong>Со­хра­ни­лись:</strong> Свя­то-По­кров­ский храм (19 в.), про­тес­тант­ская цер­ковь. Му­зеи: ис­то­рии го­ро­да, ис­то­рии ме­тал­лур­гич. за­во­да.
                </div>
            </div>
            <div class="infrastr__item">
                <div class="infrastr__title">
                    Хозяйство
                </div>
                <div class="infrastr__text">
                    <strong>Важ­ный центр чёр­ной ме­тал­лур­гии.</strong> Ме­тал­лур­гич. за­вод (чу­гун, сталь, прокат), пред­при­ятие «Ме­та­лен» 
                    (кон­вер­тер­ная сталь, про­кат, ли­тая и ка­та­ная за­го­тов­ка), кок­со­хи­мич. за­вод. 
                    Предприятия загружены не на полную мощность (2020). Заводы ма­ши­но­строе­ния и ме­тал­ло­бра­бот­ки, 
                    пи­ще­вой (мя­со­ком­би­нат, хлебоза­вод) и лёг­кой (швей­ная фаб­ри­ка и др.) пром-­сти. Про­из-во строй­ма­те­риа­лов 
                    (це­мент, жел.-бе­тон. на­пор­ные тру­бы и др.). Добыча угля прекращена в 2015–18. Ха­рак­те­рен тех­но­ген­ный гор. 
                    ланд­шафт – тер­ри­кон­ни­ки, гус­тая сеть ж.-д. пу­тей.
                </div>
            </div>
        </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../source/js/file.js"></script>

{{ template "footer" }}

{{ end }}